
:root{
    /*--primary: #f03304;
    --primary-btn: #070402;
    --primary-btn-sombra:rgba(7, 4, 2, 0.466);
    --secund-btn: #33800f;
    --terciario-btn: #94162b;
    */
    --primary: hsl(209, 71%, 41%);
    --primary-btn: #070402;
    --primary-btn-sombra:rgba(7, 4, 2, 0.466);
    --secund-btn: #33800f;
    --terciario-btn: #94162b;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
}
body{
    width: 100vw;
    height: 100vh;
    background: url(./cssM/img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    background-color: var(--primary);
    z-index: 100;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 90px;
}

.nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.nav ul li a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}
.nav ul li a:hover{
    transition: .7s;
    color: var(--primary-btn);
}
.btn,
.nav input[type="button"]{
    padding: 8px;
    border: none;
    background-color: var(--primary);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--primary-btn-sombra);
}
.btn-1{
    background-color: var(--secund-btn);
}
.btn-2{
    background-color: var(--terciario-btn);
}

/*--------------conteudo--------------*/
main{
    width: 100%;
}
main section{
    margin: 20px auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.container:nth-child(1){
    min-height: 500px;
    width: 75%;
}
.container:nth-child(2){
    max-height: 320px;
    width: 25%;
}
.container{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: hsla(0, 0%, 100%, 0.815);
}
.menu-2{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
}
.container .menu{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
}

.container .menu input{
    border: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    width: 100%;
    outline: none;
}
.container .menu-2 button{
    padding: 5px;
    border: none;
    background: var(--secund-btn);
    border-radius: 5px;
    color: #fff;
    width: 120px;
    cursor: pointer;
}
.container .menu button{
    padding: 10px;
    border: none;
    background: var(--primary);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    width: 120px;
    cursor: pointer;
}

.container .table{
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    
}
.table table{
    width: 100%;
}


.table table th{
    padding: 5px;   
    word-break: break-all;
}
.table table td{
    text-align: center;
}
.table table tr:nth-child(even){
    background: #653b8f18;
}

/*-------------dvgbadjnf ------------*/

.container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;

}

.container form .form-item{
display: flex;
flex-direction: column;
}
.container form .form-item-btn{
    margin-top: 70%;
}

.form-item input,
.form-item select{
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.062)
    
}